<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MED</title>
</head>
<body>
    {% for med in medncs %}
        {% comment %} <strong>{{ med }}</strong> {% endcomment %}
        <ul>
            <li>NAME :{{ med.d_name }}</li>
            {% comment %} <li>PRICE :{{ med.price }}</li> {% endcomment %}
        </ul>
    {% endfor %}
    
</body>
</html>