<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font-size: x-large;">SKIN CARE </title>
</head>
<style>
    div{
        background-color: lightseagreen;
        width: 100%;
        height: 60px;
        margin: 5;
    }
    h1{text-align: center;}
</style>
<body>

    <nav>
        <font style="background-color:darksalmon;" face="sans-serif" size="4" color=light blue>SKIN CARE</font>
        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a style="font-size: x-large;" href="#">fAsHiOn</a> &nbsp;  &nbsp;   
            <a style="font-size: x-large;" href="#">hOmE LiViNg</a> &nbsp;  &nbsp;   
            <a style="font-size: x-large;" href="#">ClEaNiNg</a> &nbsp;  &nbsp;  
            <a style="font-size:x-large;" href="#">BeAuTY AnD WiLlnEss</a> &nbsp;  &nbsp;  
    </nav>
    
    <H1  style="background-color:lightcoral" &#127802;>  Natural Skincare Products We Recommend  &#127802;</H1>
    <br>
    <!-- <img src="/static/skincareform.jpg" width="595" algin="left"> -->
    <img src="/static/overdoing-skincare-today-main-190509.jpg" width="595" algin="left">
    <img src="/static/441832_1611356821.jpeg" width="360"  algin="left" hspace="60">
    <br>
    <p style="font-size: x-large;"><i> Taking care of your skin is vital to looking and feeling your best. But when it comes to choosing skin 
            <br>
            care you want to pick a product that won’t harm you. Further, if you’re in the pursuit of living an eco-friendly
            <br>
            lifestyle, you may want to use products that are also kind on the planet.Organic skin care products are good for
            <br>
            you and don’t hurt the planet in the bargain. These products combine essential vitamins, botanicals, and minerals
            <br>
            that heal and restore our skin—without harming our planet.But with so many skin care brands around, how do you know
            <br>
            which products to trust? We’ve put together this list of our top picks for the best natural skin care brands.</i></p>
        <br>
        <h1 style="font-size: x-large;">15 Best Natural & Organic Skin Care Brands</h1>

        <p >These 15 natural skincare brands feature products that are eco-friendly and safe for you and the environment.</p>

        <h2>1.Organic Traveller</h2>
        <img src="/static/D8okw7sXYAA1iSO.jpg" width="400" height="300" length="700">
        <img src="/static/D8q8LGDXUAAYOmb.jpg" hspace="60" width="400" height="300" >
        <p style="font-size: x-large;">Organic Traveller is the small but mighty force behind Pakistans most loved skincare products. A skin first 
            <br>
            progressive organisation serving the needs of its Pakistani consumer base through innovation, results and self
            <br>
            acceptance. We provide you with results oriented skincare formulas that work. Cleanse, treat and protect your 
            <br>
            skin with Organic Traveller.</p>
            <br>f 
        <a style="font-size: x-large;" style="background-color: rgb(208, 98, 20)" href="https://organictraveller.store/">ViSiT ThE WeBsItE&#128512;!!</a>
        <br>
        <!--  --------------------------------------------------->
        <h2>2.Scoob O Scrub</h2>
        <img src="/static/image_57cf2583-61d0-48e5-9a03-b29e8e463e16.webp" width="400" height="300" >
        <img src="/static/image_0f9ef403-ff5d-4d71-a3e1-f15afffd6f3c.webp" hspace="60"  width="400" height="300" >
        <p style="font-size: x-large;">Scoob o scrub will leave you awe-struck with their scrubs. Their products will leave your skin soft and plump,
            <br>
           rejuvenated and fresh-looking, and smelling amazing after just a few uses. Their original scrub recipe concocted
           <br>
           from the purest and most natural ingredients is to die for! Check out DIY Lip Scrub- Homemade DIY Lip Scrubs if
           <br>
           you want to make your own scrub.</p>
           <br>
        <a  style="font-size: x-large;" style="background-color:  rgb(208, 98, 20)" href="https://scooposcrub.com/">ViSiT ThE WeBsItE&#128512;!!</a>
        <br>
        <!-- --------------------------------------------------------- -->
        <h2>3.Saeed Ghani</h2>
        <img src="/static/SG-Square-13-min_300x.avif" width="400" height="300" >
        <img src="/static/RoseFaceWash_1024x1024-768x768.jpg.webp"  hspace="60"  width="400" height="300">
        <p style="font-size: x-large;">Saeed ghani takes great pride in being one of the pioneers of organic skincare in Pakistan. They have been
            <br>
           ruling the market and winning the hearts of customers since 1888. They’ve built quite an impressive reputation
           <br>
           for themselves through their.Versatility in products from skincare, haircare, personal care, and even fragrances.
           <br>
           If you like organic fragrances, you might want to take a look at Top 10 Alcohol-Free And Organic Perfume Brands.
           <br>
           Hala and toxin-free products</p>
           <br>
            <a style="font-size: x-large;" style="background-color:  rgb(208, 98, 20)" href="https://saeedghani.pk/">ViSiT ThE WeBsItE&#128512;!!</a>
            <!-- ------------------------------------------------------ -->
            <br>
            <h2>4.100% Pure</h2>
            <img src="/static/danielle_skin_post.webp" width="400" height="300">
            <img src="/static/100_Pure_and_Puristry_Products-1.jpg" hspace="60"  width="400" height="300">
            <p style="font-size: x-large;">100% PURE organic skin care products are USDA certified and contain the very best ingredients and nutrients.
                <br>
             The brand features a full range of natural and personal care products making it a one-stop shop for all-natural
             <br>
            products.100% Pure focuses on vegan, cruelty-free, and US-made natural organic skincare products. The brand is 
            <br>
            also very committed to protecting, not just the consumers, but the environment as well. To reduce its carbon foot
            <br>
            print, 100% Pure uses packaging that is completely reusable and recyclable.</p>
            <br>
                <a style="font-size: x-large;" style="background-color:  rgb(208, 98, 20);" href="https://www.100percentpure.com/">ViSiT ThE WeBsItE&#128512;!!</a>
                <!-- ----------------------------------------------------------- -->
                <br>
                <h3>OSEA Organic Skincare</h3>
                <img src="/static/OSEA.jpg"width="400" height="300" >
                <img src="/static/OSEA-Skincare-Review-1-1.jpg"hspace="6 0"  width="400" height="300" >
                <p style="font-size: x-large;">OSEA has been creating some of the best natural skin care products for over 20 years. The brand
                <br>
                 specializes in products that are healthy for you and the planet. All its skincare products are made 
                 <br>
                 with all-natural plant-based ingredients which are also vegan compatible. One of the most notable 
                 <br>
                 ingredients in OSEA’s products is the sustainably harvested seaweed. When seaweed is combined with
                 <br>
                pure, cold-pressed essential oils, it makes OSEA products nourishing and one-of-a-kind. OSEA is keen 
                <br>
                on protecting animal rights and therefore, its products are cruelty-free and do not contain animal-
                <br>
                derived ingredients such as lanolin, beeswax, carmine, and beyond.</p>
                <br>
                <a style="font-size: x-large;" style="background-color: rgb(208, 98, 20);" href="https://oseamalibu.com/" > ViSiT ThE WeBsItE&#128512;!!</a>
                    <!-- -------------------------------------------------------- -->
                    <br>
                <h2>What Are Organic Skin Care Products?</h2> 
                <p style="font-size: x-large;">Products with organic skin care ingredients have ingredients that have been produced organically . 
                <br>
                 This indicates that no antibiotics, sulfates, parabens, GMOs, pesticides, or chemical 
                fertilisers were 
                <br>
                used in the components' growth. Additionally, they are grown with the aid of 
                environmentally friendly farming 
                <br> 
                practises that protect farmers from harm and peril while
                conserving water and energy.
                <br>  
                Because organic skin care products don't contain any harsh chemical ingredients, they are thought to be safer 
                <br>
                for the face .However, just because a product is marked as "organic" doesn't necessarily indicate that it is.
                <br> 
                Check the entire components list and then research the sourcing of each ingredient before making a purchase.
                <br>
                </p>
                <!-- ---------------------------------------- -->
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <!-- ------------------------------------ -->
                    <a style="font-size: x-large;" href="#">  ABOUT</a> &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="font-size: x-large;" href="#">  HELP</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a style="font-size: x-large;" href="#">  MORE</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a style="font-size: x-large;" href="#">  CONTACT</a>
                </div>
                <br>
                <!-- ----------------------------------------- -->
                    {% comment %} <input style="background-color: darkseagreen;"  type="NEXT" value="NEXT" > {% endcomment %}
                     
                
</body>
</html>